{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>didikala | Page</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "css/vendor/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/materialdesignicons.min.css" %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-slider.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/jquery.horizontalmenu.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/jquery-stack-menu.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/fancybox.min.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor/nouislider.min.css" %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/colors/default.css" %}" id="colorswitch">
</head>

<body>
    <div class="wrapper">
        <!-- Start header -->
        {% block header %}
        
        {% endblock header %}
        <!-- End header -->
        <!-- Start main-content -->
        {% block content %}

        {% endblock content %}
        <!-- End main-content -->
        <!-- Start footer -->
        {% block footer %}
        
        {% endblock footer %}
        <!-- End footer -->

        {% block location %}
        
        {% endblock location %}
    </div>

    <!-- colorPanel -->
    <div id="colorswitch-option">
        <button><i class="mdi mdi-settings"></i></button>
        <ul>
            <li class="active" data-path="{% static "css/colors/default.css" %}"><span
                    style="background-color: #f7858d;"></span></li>
            <li data-path="{% static "css/colors/amber-color.css" %}"><span style="background-color: #ffab00;"></span></li>
            <li data-path="{% static "css/colors/blue-color.css" %}"><span style="background-color: #2979ff;"></span></li>
            <li data-path="{% static "css/colors/blue-grey-color.css" %}"><span style="background-color: #607d8b;"></span>
            </li>
            <li data-path="{% static "css/colors/brown-color.css" %}"><span style="background-color: #795548;"></span></li>
            <li data-path="{% static "css/colors/cyan-color.css" %}"><span style="background-color: #00bcd4;"></span></li>
            <li data-path="{% static "css/colors/green-color.css" %}"><span style="background-color: #4caf50;"></span></li>
            <li data-path="{% static "css/colors/indigo-color.css" %}"><span style="background-color: #3f51b5;"></span></li>
            <li data-path="{% static "css/colors/lime-color.css" %}"><span style="background-color: #cddc39;"></span></li>
            <li data-path="{% static "css/colors/orange-color.css" %}"><span style="background-color: #ff9800;"></span></li>
            <li data-path="{% static "css/colors/red-color.css" %}"><span style="background-color: #f44336;"></span></li>
            <li data-path="{% static "css/colors/teal-color.css" %}"><span style="background-color: #009688;"></span></li>
            <li data-path="{% static "css/colors/purple-color.css" %}"><span style="background-color: #9c27b0;"></span></li>
        </ul>
    </div>
    <!-- end colorPanel -->
    <!-- Core JS Files -->
    <script src="{% static "js/vendor/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/vendor/popper.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
    <!-- Plugins -->
    <script src="{% static "js/vendor/bootstrap-slider.min.js" %}"></script>
    <script src="{% static "js/vendor/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/vendor/owl.carousel2.thumbs.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.nicescroll.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "js/vendor/nouislider.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.horizontalmenu.js" %}"></script>
    <script src="{% static "js/vendor/jquery-stack-menu.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.fancybox.min.js" %}"></script>
    <script src="{% static "js/vendor/countdown.min.js" %}"></script>
    <script src="{% static "js/vendor/wNumb.js" %}"></script>
    <script src="{% static "js/vendor/ResizeSensor.min.js" %}"></script>
    <script src="{% static "js/vendor/theia-sticky-sidebar.min.js" %}"></script>
    <!-- Main JS File -->
    <script src="{% static "js/main.js" %}"></script>
    {% block extra_js %}
        
    {% endblock extra_js %}
</body>

</html>