{% extends "base.html" %}
{% load static %}

<body>
    <div class="wrapper">
        <!-- Start header -->
        {% block header %}
        {% include "Component/header.html" %}
        {% endblock header %}
        <!-- End header -->
        <!-- Start main-content -->
        {% block content %}
        <main class="main-content dt-sl mb-3">
            <div class="page-cover mb-2">
                <div class="page-cover-title">
                    <h1>پاسخ پرسش‌های پرتکرار</h1>
                    <div class="form-ui">
                        <form action="">
                            <div class="form-row">
                                <input type="text" class="input-ui pr-2" placeholder="پرسش خود را جستجو کنید">
                                <button class="btn btn-info">جستجو</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container main-container">
                <div class="row">
                    <div class="col-12">
                        <div class="page info-page-cats dt-sl dt-sn pt-3 pb-2">
                            <div class="row">
                                <div class="col-12 pr-4 mb-3">
                                    <div class="section-title title-wide mb-1 no-after-title-wide">
                                        <h2 class="font-weight-bold px-res-2">دسته‌بندی پرسش‌ها</h2>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/1.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                ورود و ثبت نام
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/2.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                روند ثبت سفارش
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/3.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                پیگیری ارسال سفارش
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/4.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                بازگرداندن کالا
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/5.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                کد تخفیف و کارت هدیه
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/6.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                سوپرمارکت
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/7.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                تعهد به شفافیت
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/8.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                چند مرسوله ایی
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/9.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                دیجی پی
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/10.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                دیجی کلاپ
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-6">
                                    <div class="info-page-cat">
                                        <a href="#">
                                            <div class="info-page-cat-icon">
                                                <img src="{% static "img/faq/11.png" %}" alt="">
                                            </div>
                                            <span class="info-page-cat-title">
                                                سایر موارد
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="page dt-sl dt-sn pt-3 pb-2 mb-4">
                            <div class="row">
                                <div class="col-12 pr-4 mb-3">
                                    <div class="section-title title-wide mb-1 no-after-title-wide">
                                        <h2 class="font-weight-bold">پرتکرارترین پرسش‌ها</h2>
                                    </div>
                                </div>
                                <div class="col-12 filter-product mb-3">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        چطور میتوانم امتیاز‌ بگیریم؟
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>شما از سه راه می‌توانید امتیاز بگیرید:</p>
                                                    <ul>
                                                        <li>خرید کالا</li>
                                                        <li>ثبت نظر</li>
                                                        <li>دعوت از دوستان برای خرید از دیجی‌کالا</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        میتوانم سفارش خود را در محل پرداخت کنم؟
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>بله شما میتوانید سفارش خود را هنگام تحویل کالا پرداخت کنید، در
                                                        برخی موارد امکان پرداخت سفارش در محل وجود ندارد.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        چطور درخواست خود را جهت مرجوعی کالا به شما اطلاع دهم؟
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>شما میتوانید از طریق فرم درخواست مرجوعی در پروفایل ، صفحه تماس با
                                                        ما و تلفن درخواست خود را ثبت نمایید.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingFour">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        چطور میتوانم سفارشم را لغو کنم ؟
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>شما میتوانید با مراجعه به پروفایل خود سفارش یا مرسوله ایی که از
                                                        ارسال آن منصرف شدید را لغو نمایید.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="page-question-not-found">
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-question-not-found-text">
                                        جواب یا پرسش خود را پیدا نکردید؟
                                        <br>
                                        روش‌های ارتباط با ما
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 text-center">
                                    <img src="{% static "img/faq/phone.svg" %}" alt="">
                                    <div class="page-contact-option-text">تماس تلفنی</div>
                                    <div class="page-contact-option-text mr-3">۰۲۱-۶۱۹۳۰۰۰۰</div>
                                </div>
                                <div class="col-md-6 col-sm-12 text-center">
                                    <img src="{% static "img/faq/email.svg" %}" class="mb-5" alt="">
                                    <a href="#" class="btn btn-info pr-4 pl-4">ارسال پیام</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}
        <!-- End main-content -->
        <!-- Start footer -->
        {% block footer %}
        {% include "Component/footer.html" %}
        {% endblock footer %}
        <!-- End footer -->
    </div>
</body>

</html>